/* Written by Tarek Alatrach on July 12th, 2020 for the SAIT Software development CPRG210 course. */

/* FORMS */

form {
  margin: 2em 0.5em; /* Leave some space between form and other content. */
}

fieldset {
  border: 0;
}

legend {
  text-decoration: underline;
  font-size: 1.5rem;
  margin: 0.5em auto 0 auto;
}

form label {
  /* text-align: center; */
  margin: 0.5em auto 0.1em auto;
}

form:hover {
  box-shadow: 1px 1px 4px grey;
}

input, textarea {
  /* margin: auto; */
  border-radius: 2px;
  padding: 4px;
}

textarea {
  max-width: 25ch; /* limit horizontal resizing.*/
  min-height: 2ch;
}

.checkbox {
  margin: 5px;
}

input:focus:invalid  {
  background-color: hsla(360, 77%, 72%, 0.64);
  border: 0px;
  transition: background-color 300ms;
}

input:focus:valid {
  background-color: rgba(147, 239, 129, 0.64);
  transition: background-color 300ms;
}

label.required::after {
  content: '*';
  color: red;
}

/* Registration and Log in forms */

.registration-form form {
  background-color: rgb(2, 57, 78);
  color: white;
  /* Add a thick border to make form stand out */
  border: 2px solid white; 
  border-radius: 8px;
}

.registration-form a {
  color: #ffb521;
}

.registration-form a:hover {
  color: rgb(174, 16, 50);
}

.registration-form .button {
  margin-bottom: 0; /* Tweaking bottom margin of buttons inside login/registration forms. */
}

/* FORM TOOLTIPS */

/* Input fields are relative to help position the tooltips. */
.input-field {
  position: relative;
}

[role="tool-tip"] {
  display: inline-block;
  white-space: nowrap;

  padding: 0.8em 1.0em;
  background: white;

  font-weight: 800;
  color: black;

  border: 1px solid black;
  border-radius: 1em;

  position: absolute; /* Position this element relative to the div it's in. In combination with a relative parent, it is position relative to that parent. */
  left: 105%;

  transform: scale(0); /* Essentially: This is display none */

  transition: transform ease-out 100ms; 
}

/* When an input field is focused and invalid, apply this css to the next tool-tip */
input:invalid:focus + [role="tool-tip"] {
  transform: scale(1);
}

/* CONTACT US FORM */

.letter-box {
  background-image: url("../images/airmail.jpg");

  max-width: 34em;
  width: 95%;
  min-width: 16em;

  margin: 3em 1em; /* introduces margin between letter box and other elements. */

  /* 3D letter effect */
  box-shadow: 1px 1px 8px grey;
  border-radius: 3px;
}

.letter-paper {
  background-image: url("../images/letterpaper.png"); /* Old Paper effect */
  color: black;

  border-radius: 3px;

  width: 100%;

  margin: 0.5em;
}

/* Responsive Forms */
/* @media (max-width: 30rem) {
  .letter-box label {
    flex-direction: column;
  }
} */
@media (max-width: 30rem) {
  .letter-box label {
    flex-direction: column;
  }
  span[role="tool-tip"] {
    font-size: 0.70rem;
    left: 0;
    bottom: 60%;
    z-index: 1;
  } 
} 

@media (max-height: 700px) {
  .registration-form {
    font-size: 75%;
    margin: 5px;
  }
  .registration-form legend {
    font-size: 1rem;
  }
  .registration-form h1 {
    font-size: 3rem;
    margin: 0;
  }
  .registration-form form {
    margin: 0 auto;
  }
}
@media (max-height: 450px){
  .registration-form {
    font-size: 60%;
    /* justify-content: flex-end !important;  */
  }
  .registration-form h1 {
    font-size: 2rem;
    margin: 0;
  }
}
