/*******************/
/**** UTILITIES ****/
/*******************/

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-vertical {    
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

    /* BUTTONS */

.button {
    text-transform: uppercase;
    letter-spacing: 0.05em;

    padding: 0.5em 1.0em;
    margin-top: 1em;

    border: 0;
    border-radius: 0.5em;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background: linear-gradient(teal, lightgrey)
}

/******************/
/***** STYLES *****/
/******************/



/*******************/
/***** NAV BAR *****/
/*******************/

nav {
    display: flex;
    justify-content: space-between;

    background: rgb(70, 200, 204);
    margin-bottom: 1vh; /* white space between nav and hero bar */
}

/* Center each nav element */
nav ul {
    display: flex;

    margin: 0; /* push navbar to top of screen */
}

/* Center contents of each "button" And fit buttons snug in nav bar */
nav a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0em 1.0em; /* expands button left and right */
    height: 4vh;        /* sets the height of the navbar */
}

nav a:hover {
    background-color: skyblue;
    
    color: #003047;
    font-weight: 600;
}

nav a:active {
    background-color: rgb(56, 95, 110);
}

/* Class to be used for a nav button accompanied by a logo */
.logo {
    padding-right: 0.5em; /* expands button left and right */
    height: 4vh;        /* sets the height of the navbar */
}

@media (max-width: 810px) {
    /* Switch to vertical nav bar */
    nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    /* Make each button 100% width and center text */
    nav a {
        width: 100%;
        margin: auto; /* fits buttons snugly horizontally */
    }
}

/********************/
/*** HERO SECTION ***/
/********************/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url('https://picsum.photos/id/665/1900/1000');
    background-size: cover;
    background-position: left;
    height: 75vh; /* In narrow screens, takes the rest of the view power below the nav bar */
}

header p {
    text-align: center;
    font-size: 1.5rem;
    

    margin: 0 0 2em 0; 
}

.call-to-action {
    background: linear-gradient(rgb(182, 0, 0), maroon);
    
    color: white;

    font-size: 1.5rem;
}

.call-to-action:hover {
    background: linear-gradient(maroon, rgb(182, 0, 0));
    color: #250202;
}

@media (max-width: 650px) {
    header h1 {
        font-size: 3rem;
    }
    header p {
        font-size: 1rem;
    }
}

/*
 header h1, header p, header button {
}
*/

/*******************/
/****** MAIN *******/
/*******************/


/* CONTACT US FORM */

.form-container {
    display: flex; /* center the form */

    background-image: url("../images/airmail.jpg");

    height: 20em; /* Height is fixed */
    max-width: 30em;
    margin: 0.5em auto;

    /* 3D letter effect */
    box-shadow: 2px 2px 8px black;
    border-radius: 3px;
}

form {
    background-image: url("../images/letterpaper.png"); /* Old Paper effect */

    border-radius: 3px;

    max-height: 20em;
    width: 100%;
    max-width: 30em;
    margin: 0.5em;
}

form label {
    margin-top: 1em;
}

/* Readjust for narrow screens */
@media (max-width: 28rem) {
    form label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
}

@media (max-width: 32rem) {
    .form-container {
        margin: 0.5em;
    }

    form h2 {
    margin: 0;
    }
}

/*******************/
/***** FOOTER ******/
/*******************/

footer {
    background-color: rgb(197, 197, 197);

    height: 2.25rem;
    margin-top: 1vh;
}

.gitlogo {
    width: 2em;
    padding: 0.2em;
}